AUTHOR="nou® Inteligência Industrial LTDA"
APP_NAME=one
PORT=3333
HOST=127.0.0.1
NODE_ENV=development
APP_KEY=9XLXIaCcFQsB9w42Rx88i_9MVr6mi-oa
DRIVE_DISK=local
HASH_DRIVER=bcrypt
APP_URL=http://${HOST}:${PORT}

# DATABASE
  DB_CONNECTION=pg
  PG_HOST=localhost
  PG_PORT=5432
  PG_USER=postgres
  PG_PASSWORD=1
  PG_DB_NAME=one

# SESSION
  SESSION_DRIVER=cookie

# MAIL
  SMTP_HOST=smtp.mailtrap.io
  SMTP_PORT=2525
  SMTP_USERNAME=bf18893732f147
  SMTP_PASSWORD=f8fc2d4f15fb08
  DEFAULT_FROM_EMAIL=admin@one.com
