AUTHOR="nou® Inteligência Industrial LTDA"
APP_NAME=one
PORT=3333
HOST=127.0.0.1
NODE_ENV=development
APP_KEY=9XLXIaCcFQsB9w42Rx88i_9MVr6mi-oa
DRIVE_DISK=local
HASH_DRIVER=bcrypt
APP_URL=http://${HOST}:${PORT}

# SESSION
SESSION_DRIVER=cookie

# MAIL
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=bf18893732f147
SMTP_PASSWORD=f8fc2d4f15fb08
DEFAULT_FROM_EMAIL=admin@one.com

# DATABASE
DATABASE_URL=postgres://nou:nou@localhost:5432/nou

DB_CONNECTION=pg
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=nou
POSTGRES_PASSWORD=nou
POSTGRES_DATABASE=nou

# Admin generate account
NOU_ADMIN_EMAIL=admin@admin.com
NOU_ADMIN_PASSWORD=admin
NOU_ADMIN_NAME=admin
NOU_ADMIN_LASTNAME=lastname
NOU_ADMIN_USERNAME=admintg